*, *::before, *::after {
  box-sizing: border-box;
}

.formular {
  width: 95%;
}

.form_body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form_submit {
  font-family: system-ui;
  border-bottom: 1px black solid;
  margin: 0 15px 15px 0px;
  padding: 0 10px 10px 10px;
}

.title {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.text {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 60%;
}

.text_input {
  width: 100%;
  margin-bottom: 5px;
}

.title_input {
  width: 100%;
}

.blog {
  font-family: system-ui;
  width: 90%;
  display: flex;
  border-bottom: 1px black solid;
  margin: 15px;
  justify-content: center;
  align-items: center;
}

.archival_posts {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.archival_post {
  margin: 15px;
  padding: 15px;
  border-right: 1px black solid
}

.list {
  font-family: system-ui;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  min-height: 200px;
}

.body_posts tr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.posts {
  margin: 15px;
  border: 1px #3b5998 solid;
  display: flex;
}

.old_posts{
  margin: 15px;
  border: 1px #3b5998 solid;
  display: flex;
}

.post_details {
  margin: 15px;
  border-right: 1px black solid;
  padding-right: 10px;
}

.votes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 0 15px 15px 0;
}

.votes_p {
  margin: 0;
}

.vote_buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vote_button {
  width: 25px;
  height: 25px;
}

.button_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.button_column p {
  margin: 0;
}

.title_section {
  font-family: system-ui;
  margin: 0 15px 0 15px ;
  padding: 0;
}
